body{
	background-image: url("images/iitm.jpg");
	background-position: right top;
	background-repeat: no-repeat;
	background-size: 150px 140px;
}
#bg1{
	background-color:black;
	height:140px;
	width:1300px;
	background-image: url("images/iitmlogo.jpg");
	background-repeat: no-repeat;
	background-size: 150px 140px;
}
#bg2{
	position:absolute;
	left:0px;
	top:140px;
	background-color:#C8C8C8;
	height:600px;
	width:1300px;
}
#irb{
	position:absolute;
	left:390px;
	top:0px;
	color:white;
}
#nav1{
	position:absolute;
	margin-left:200px;
	top:70px;
	color:white;
	font-size:20px;
}
#nav2{
	position:absolute;
	color:white;
	font-size:20px;
	background-color: black;
}
}
#form1{
	position:absolute;
	top:150px;
	left:350px;
}
#arr1{
	position:absolute;
	top:550px;
	left:1200px;
}
#arr2{
	position:absolute;
	top:550px;
	left:1100px;
}